.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  width: auto;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: azure;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
#h{
  color: white;
  text-align:center;
}
header{
  background-color: black;
  height: 150px;
  width: auto;
}
body{
  background-color: #040119;
}
table{
  align-self: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10%;
  padding-left: 10%;
}
tr{
  padding-top: 5px;
  width: auto;
  height: max-content;
}
td{
  padding-right: 10px;
  padding-left: 10px;
  height:inherit;
  width:20%;
}
#p{
  align-self: center;
  text-align: center;
  color:blanchedalmond;
}
img{
  width: auto;
  align-self: center;
}
button{
  align-self: center;
}
body{
  width: 100%;
}
#land{
  align-self: center;
  text-align: center;

}