<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <title>Bifrost Inc.</title>
    </head>
    <body>
        <header><h1 id="h"><img id="logo" src="https://media.discordapp.net/attachments/916367335458222150/1016627080756207636/Desktop_-_1_2.png?width=32&height=32"/>
            <br>Bifrost Inc.</h1></header>
        <p id="p">
            Please confirm your booking for </br>
        </br></br>
            <button>Confirm</button><button>Go Back</button>
        </p>
    </body>
</html>