<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="icon" type="image/x-icon"
          href="https://media.discordapp.net/attachments/1016413968924942407/1016662891220434974/Desktop_-_1_2-modified.png?width=663&height=663">
        <title>Bifrost Inc.</title>
    </head>
    <body>
        <header><h1 id="h"><img id="logo"
            src="https://media.discordapp.net/attachments/1016413968924942407/1016662891220434974/Desktop_-_1_2-modified.png?width=64&height=64"/>
        <br><a href="https://www.instagram.com/bifrost.inc/"><img id="insta" style="float:right; align-self: start;" src="https://media.discordapp.net/attachments/1016413968924942407/1016714118608212078/unknown.png?width=32&height=32"/></a>
          <br>Bifrost Inc.</h1></header>
        <p id="p">
            Please confirm your booking for {{portal_id}}</br>
        </br></br>
            <button onclick="location.href=`/portal?id={{portal_id}}`" type="button">Confirm</button>
            <button onclick="location.href=`/cancel?id={{portal_id}}`" type="button">Go Back</button>
        </p>
    </body>
</html>