<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css">
    <title>Bifrost Inc.</title>
  </head>
  <body>
    <header><h1 id="h">Bifrost Inc.</h1></header>
    <table>
      <tr>
        <td><div class="card">
            <img src="https://graph.org/file/aa4b3f2bb37e1582d3b81.png"
              alt="Portal 1" style="width: 100%" />
            <h1>SomeNameHere</h1>
            <p class="location">mars</p>
            <p>info?..</p>
            <p><button>Travel Now!</button></p>
          </div></td>
        <td>
          <div class="card">
            <img src="https://graph.org/file/aa4b3f2bb37e1582d3b81.png"
              alt="Portal 2" style="width: 100%" />
            <h1>SomeNameHere</h1>
            <p class="location">jupiter?</p>
            <p>info?..</p>
            <p><button onclick="location.href=`/portal2`" type="button">Travel
                Now!</button></p>
          </div></td>
        <td><div class="card">
            <img src="https://graph.org/file/aa4b3f2bb37e1582d3b81.png"
              alt="Portal 1" style="width: 100%" />
            <h1>SomeNameHere</h1>
            <p class="location">mars</p>
            <p>info?..</p>
            <p><button>Travel Now!</button></p>
          </div></td>
        <td><div class="card">
            <img src="https://graph.org/file/aa4b3f2bb37e1582d3b81.png"
              alt="Portal 1" style="width: 100%" />
            <h1>SomeNameHere</h1>
            <p class="location">mars</p>
            <p>info?..</p>
            <p><button>Travel Now!</button></p>
          </div></td>
        <td><div class="card">
            <img src="https://graph.org/file/aa4b3f2bb37e1582d3b81.png"
              alt="Portal 1" style="width: 100%" />
            <h1>SomeNameHere</h1>
            <p class="location">mars</p>
            <p>info?..</p>
            <p><button>Travel Now!</button></p>
          </div></td>
      </tr>
      <tr><td><div class="card">
            <img src="https://graph.org/file/aa4b3f2bb37e1582d3b81.png"
              alt="Portal 1" style="width: 100%" />
            <h1>SomeNameHere</h1>
            <p class="location">mars</p>
            <p>info?..</p>
            <p><button>Travel Now!</button></p>
          </div></td>
        <td><div class="card">
            <img src="https://graph.org/file/aa4b3f2bb37e1582d3b81.png"
              alt="Portal 1" style="width: 100%" />
            <h1>SomeNameHere</h1>
            <p class="location">mars</p>
            <p>info?..</p>
            <p><button>Travel Now!</button></p>
          </div></td>
        <td><div class="card">
            <img src="https://graph.org/file/aa4b3f2bb37e1582d3b81.png"
              alt="Portal 1" style="width: 100%" />
            <h1>SomeNameHere</h1>
            <p class="location">mars</p>
            <p>info?..</p>
            <p><button>Travel Now!</button></p>
          </div></td>
        <td><div class="card">
            <img src="https://graph.org/file/aa4b3f2bb37e1582d3b81.png"
              alt="Portal 1" style="width: 100%" />
            <h1>SomeNameHere</h1>
            <p class="location">mars</p>
            <p>info?..</p>
            <p><button>Travel Now!</button></p>
          </div></td>
        <td><div class="card">
            <img src="https://graph.org/file/aa4b3f2bb37e1582d3b81.png"
              alt="Portal 1" style="width: 100%" />
            <h1>SomeNameHere</h1>
            <p class="location">mars</p>
            <p>info?..</p>
            <p><button>Travel Now!</button></p>
          </div></td></tr>
    </table>
  </body>
</html>