<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/x-icon"
      href="https://media.discordapp.net/attachments/916367335458222150/1016627080756207636/Desktop_-_1_2.png?width=986&height=701">
    <title>Bifrost Inc.</title>
  </head>
  <body><header><h1 id="h"><img id="logo"
          src="https://media.discordapp.net/attachments/916367335458222150/1016627080756207636/Desktop_-_1_2.png?width=32&height=32"/>
        <br>Bifrost Inc.</h1></header>
    <table>
      <tr>
        <td><div class="card">
            <img src="../static/1.png" alt="Portal 1" style="width: 100%" />
            <h2>Hydrargyrum</h2>
            <p class="price">58,999</p>
            <p>Recommended for the unhinged.<br>Preference to Diamond skinned
              races.</p>
            <p><button onclick="location.href=`/portal?id=1`" type="button">Travel
                Now!</button></p>
          </div></td>
        <td>
          <div class="card">
            <img src="../static/2.png" alt="Portal 2" style="width: 100%" />
            <h2>Daenerys</h2>
            <p class="price">779,999</p>
            <p>Her children really do want this now don't they?</p>
            <p><button onclick="location.href=`/portal?id=2`" type="button">Travel
                Now!</button></p>
          </div></td>
        <td><div class="card">
            <img src="../static/3.png" alt="Portal 3" style="width: 100%" />
            <h2>Mars</h2>
            <p class="price">96999</p>
            <p>info?..</p>
            <p><button onclick="location.href=`/portal?id=3`" type="button">Travel
                Now!</button></p>
          </div></td>
        <td><div class="card">
            <img src="../static/4.png" alt="Portal 4" style="width: 100%" />
            <h2>Hydrargyrum</h2>
            <p class="price">58999</p>
            <p>Recommended for the unhinged.<br>Preference to Diamond skinned
              races.</p>
            <p><button onclick="location.href=`/portal?id=4`" type="button">Travel
                Now!</button></p>
          </div></td>
        <td><div class="card">
            <img src="../static/5.png" alt="Portal 5" style="width: 100%" />
            <h2>SomeNameHere</h2>
            <p class="price">mars</p>
            <p>info?..</p>
            <p><button onclick="location.href=`/portal?id=5`" type="button">Travel
                Now!</button></p>
          </div></td>
      </tr>
      <tr><td><div class="card">
            <img src="../static/6.png" alt="Portal 6" style="width: 100%" />
            <h2>SomeNameHere</h2>
            <p class="price">mars</p>
            <p>info?..</p>
            <p><button onclick="location.href=`/portal?id=6`" type="button">Travel
                Now!</button></p>
          </div></td>
        <td><div class="card">
            <img src="../static/7.png" alt="Portal 7" style="width: 100%" />
            <h2>SomeNameHere</h2>
            <p class="price">mars</p>
            <p>info?..</p>
            <p><button onclick="location.href=`/portal?id=7`" type="button">Travel
                Now!</button></p>
          </div></td>
        <td><div class="card">
            <img src="../static/8.png" alt="Portal 8" style="width: 100%" />
            <h2>SomeNameHere</h2>
            <p class="price">mars</p>
            <p>info?..</p>
            <p><button onclick="location.href=`/portal?id=8`" type="button">Travel
                Now!</button></p>
          </div></td>
        <td><div class="card">
            <img src="../static/9.png" alt="Portal 9" style="width: 100%" />
            <h2>SomeNameHere</h2>
            <p class="price">mars</p>
            <p>info?..</p>
            <p><button onclick="location.href=`/portal?id=9`" type="button">Travel
                Now!</button></p>
          </div></td>
        <td><div class="card">
            <img src="../static/10.png" alt="Portal 10" style="width: 100%" />
            <h2>Licorie</h2>
            <p class="price">88999</p>
            <p>Green and lush. <br>Almost as if the name refers to something
              similar...</p>
            <p><button onclick="location.href=`/portal?id=10`" type="button">Travel
                Now!</button></p>
          </div></td></tr>
    </table>
  </body>
</html>