<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/x-icon"
      href="https://media.discordapp.net/attachments/916367335458222150/1016627080756207636/Desktop_-_1_2.png?width=986&height=701">
    <title>Bifrost Inc.</title>
  </head>
  <body><header><h1 id="h"><img id="logo"
          src="https://media.discordapp.net/attachments/916367335458222150/1016627080756207636/Desktop_-_1_2.png?width=64&height=64"/>
        <br>Bifrost Inc.</h1></header>
    <h2 id="h">Current Location: Earth</h2>
    <table>
      <tr>
        <td><div class="card">
            <img src="../static/1.png" alt="Portal 1" style="width: 100%" />
            <h2>Hydrargyrum</h2>
            <p class="price">58,999</p>
            <p>Recommended for the unhinged.<br>Preference to Diamond skinned
              races.</p>
            <p><button onclick="location.href=`/portal?id=1`" type="button">Travel
                Now!</button></p>
          </div></td>
        <td>
          <div class="card">
            <img src="../static/2.png" alt="Portal 2" style="width: 100%" />
            <h2>Daenerys</h2>
            <p class="price">779,999</p>
            <p>Her children really do want this planet. <br>Don't you want it
              too?</p>
            <p><button onclick="location.href=`/portal?id=2`" type="button">Travel
                Now!</button></p>
          </div></td>
        <td><div class="card">
            <img src="../static/3.png" alt="Portal 3" style="width: 100%" />
            <h2>Wine</h2>
            <p class="price">96,999</p>
            <p>Need I say more?</p>
            <p><button onclick="location.href=`/portal?id=3`" type="button">Travel
                Now!</button></p>
          </div></td>
        <td><div class="card">
            <img src="../static/4.png" alt="Portal 4" style="width: 100%" />
            <h2>Medovyy</h2>
            <p class="price">155,999</p>
            <p>Meet the darling dear members of the <i>Winnie De Pooh</i>
              species.</p>
            <p><button onclick="location.href=`/portal?id=4`" type="button">Travel
                Now!</button></p>
          </div></td>
        <td><div class="card">
            <img src="../static/5.png" alt="Portal 5" style="width: 100%" />
            <h2>Omu Lette</h2>
            <p class="price">125,999</p>
            <p>Some say there lies a dragon child<br>sleeping at the core.<br>Too
              bad it's so close to it's sun.</p>
            <p><button onclick="location.href=`/portal?id=5`" type="button">Travel
                Now!</button></p>
          </div></td>
      </tr>
      <tr><td><div class="card">
            <img src="../static/6.png" alt="Portal 6" style="width: 100%" />
            <h2>Earthalla</h2>
            <p class="price">99,999</p>
            <p>The dear long lost twin of our very own Earth.<br>Separated by
              the big bang and conjoint now by<br> <b>Bifrost Inc.</b></p>
            <p><button onclick="location.href=`/portal?id=6`" type="button">Travel
                Now!</button></p>
          </div></td>
        <td><div class="card">
            <img src="../static/7.png" alt="Portal 7" style="width: 100%" />
            <h2>Amoongus</h2>
            <p class="price">69,899</p>
            <p>Scientists have searched long and hard, yet no one knows which of
              the two references the name is based on.</p>
            <p><button onclick="location.href=`/portal?id=7`" type="button">Travel
                Now!</button></p>
          </div></td>
        <td><div class="card">
            <img src="../static/8.png" alt="Portal 8" style="width: 100%" />
            <h2>Reality</h2>
            <p class="price">49,999</p>
            <p>Some say, often disappointing.</p>
            <p><button onclick="location.href=`/portal?id=8`" type="button">Travel
                Now!</button></p>
          </div></td>
        <td><div class="card">
            <img src="../static/9.png" alt="Portal 9" style="width: 100%" />
            <h2>Snice</h2>
            <p class="price">98,999</p>
            <p>Is it ice? Is it snow? No one knows but don't miss those! Just
              don't light a fire over here.</p>
            <p><button onclick="location.href=`/portal?id=9`" type="button">Travel
                Now!</button></p>
          </div></td>
        <td><div class="card">
            <img src="../static/10.png" alt="Portal 10" style="width: 100%" />
            <h2>Licorie</h2>
            <p class="price">88,999</p>
            <p>Green and lush. Almost as if the name refers to something
              similar. <br>Reminder: Hate the food, not the planet!</p>
            <p><button onclick="location.href=`/portal?id=10`" type="button">Travel
                Now!</button></p>
          </div></td></tr>
    </table>
  </body>
</html>