<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <title>Bifrost Inc.</title>
    </head>
    <body>
        <div id="particles-js"></div>
        <div id="wrapper">
        <header><h1 id="h">Bifrost Inc.</h1></header>
        <p id="p">
            Thank you for your purchase! </br>
            Your Booking ID: {{booking_id}} </br> </br>
            Portal Number: {{portal_number}} </br> </br>
            <!-- <img src="../static/{{portal_number}}.png" height="30%" width="30%"> </br></br> -->
            <a href="https://apis.xditya.me/qr/gen?text={{booking_id}}" download="Booking_{{booking_id}}">
                <img src="https://apis.xditya.me/qr/gen?text={{booking_id}}" />
            </a>
        </br></br>
            <button onclick="location.href=`/cancel?id={{portal_number}}`" type="button">Cancel Order</button>
        </p>  
        </div>
    <script src="../static/particles.js"></script>
    <script src="../static/app.js"></script>
    </body>
</html>