<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <title>Bifrost Inc.</title>
        <link rel="icon" type="image/x-icon"
          href="https://media.discordapp.net/attachments/916367335458222150/1016627080756207636/Desktop_-_1_2.png?width=986&height=701">
        <title>Bifrost Inc.</title>
    </head>
    <body>
        <div id="particles-js"></div>
        <div id="wrapper">
        <header><h1 id="h"><img id="logo"
            src="https://media.discordapp.net/attachments/916367335458222150/1016627080756207636/Desktop_-_1_2.png?width=64&height=64"/>
        <br><a href="https://www.instagram.com/bifrost.inc/"><img id="insta" style="float:right; align-self: start;" src="https://media.discordapp.net/attachments/1016413968924942407/1016714118608212078/unknown.png?width=32&height=32"/></a>
          <br>Bifrost Inc.</h1></header>
        <p id="p">
            Thank you for your purchase! </br>
            Your Booking ID: {{booking_id}} </br> </br>
            Portal Number: {{portal_number}} </br> </br>
            <!-- <img src="../static/{{portal_number}}.png" height="30%" width="30%"> </br></br> -->
            <a href="https://apis.xditya.me/qr/gen?text={{booking_id}}" download="Booking_{{booking_id}}">
                <img src="https://apis.xditya.me/qr/gen?text={{booking_id}}" />
            </a>
        </br></br>
            <button onclick="location.href=`/cancel?id={{portal_number}}`" type="button">Cancel Order</button>
        </p>  
        </div>
    <script src="../static/particles.js"></script>
    <script src="../static/app.js"></script>
    </body>
</html>