<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="icon" type="image/x-icon" href="https://media.discordapp.net/attachments/916367335458222150/1016627080756207636/Desktop_-_1_2.png?width=986&height=701">
        <title>Bifrost Inc.</title>
    </head>
    <body><header><h1 id="h"><img id="logo" src="https://media.discordapp.net/attachments/916367335458222150/1016627080756207636/Desktop_-_1_2.png?width=32&height=32"/>
            <br>Bifrost Inc.</h1></header>
        <table>
            <tr>
                <td><div class="card">
                    <img src="https://graph.org/file/aa4b3f2bb37e1582d3b81.png" alt="Portal 1" style="width: 100%" />
                    <h2>SomeNameHere</h2>
                    <p class="location">mars</p>
                    <p>info?..</p>
                    <p><button>Travel Now!</button></p>
                  </div></td>
                  <td>
                  <div class="card">
                      <img src="https://graph.org/file/aa4b3f2bb37e1582d3b81.png" alt="Portal 2" style="width: 100%" />
                      <h2>SomeNameHere</h2>
                      <p class="location">jupiter?</p>
                      <p>info?..</p>
                      <p><button onclick="location.href=`/portal2`" type="button">Travel Now!</button></p>
                  </div></td>
                  <td><div class="card">
                    <img src="https://graph.org/file/aa4b3f2bb37e1582d3b81.png" alt="Portal 1" style="width: 100%" />
                    <h2>SomeNameHere</h2>
                    <p class="location">mars</p>
                    <p>info?..</p>
                    <p><button>Travel Now!</button></p>
                  </div></td>
                  <td><div class="card">
                    <img src="https://graph.org/file/aa4b3f2bb37e1582d3b81.png" alt="Portal 1" style="width: 100%" />
                    <h2>SomeNameHere</h2>
                    <p class="location">mars</p>
                    <p>info?..</p>
                    <p><button>Travel Now!</button></p>
                  </div></td>
                  <td><div class="card">
                    <img src="https://graph.org/file/aa4b3f2bb37e1582d3b81.png" alt="Portal 1" style="width: 100%" />
                    <h2>SomeNameHere</h2>
                    <p class="location">mars</p>
                    <p>info?..</p>
                    <p><button>Travel Now!</button></p>
                  </div></td>
            </tr>
            <tr><td><div class="card">
                <img src="https://graph.org/file/aa4b3f2bb37e1582d3b81.png" alt="Portal 1" style="width: 100%" />
                <h2>SomeNameHere</h2>
                <p class="location">mars</p>
                <p>info?..</p>
                <p><button>Travel Now!</button></p>
              </div></td>
              <td><div class="card">
                <img src="https://graph.org/file/aa4b3f2bb37e1582d3b81.png" alt="Portal 1" style="width: 100%" />
                <h2>SomeNameHere</h2>
                <p class="location">mars</p>
                <p>info?..</p>
                <p><button>Travel Now!</button></p>
              </div></td>
              <td><div class="card">
                <img src="https://graph.org/file/aa4b3f2bb37e1582d3b81.png" alt="Portal 1" style="width: 100%" />
                <h2>SomeNameHere</h2>
                <p class="location">mars</p>
                <p>info?..</p>
                <p><button>Travel Now!</button></p>
              </div></td>
              <td><div class="card">
                <img src="https://graph.org/file/aa4b3f2bb37e1582d3b81.png" alt="Portal 1" style="width: 100%" />
                <h2>SomeNameHere</h2>
                <p class="location">mars</p>
                <p>info?..</p>
                <p><button>Travel Now!</button></p>
              </div></td>
              <td><div class="card">
                <img src="https://graph.org/file/aa4b3f2bb37e1582d3b81.png" alt="Portal 1" style="width: 100%" />
                <h2>SomeNameHere</h2>
                <p class="location">mars</p>
                <p>info?..</p>
                <p><button>Travel Now!</button></p>
              </div></td></tr>
        </table>
    </body>
</html>